app = "servingway"

primary_region = "dfw"
kill_signal = "SIGINT"
kill_timeout = 5

[http_service]
internal_port = 8080
force_https = true
auto_stop_machines = true
auto_start_machines = true
min_machines_running = 1

[mounts]
source = "litefs"
destination = "/var/lib/litefs"
