.RotationEditor {
  display: flex;
  flex-direction: column;
  gap: var(--15);

  .mode-label {
    .Emoji {
      margin-right: 0.5em;
    }

    &.auto {
      color: var(--orange-300);
    }
  }

  .rotation {
    display: flex;
    flex-direction: column;
    gap: var(--1);

    background: var(--grey-800);
    padding: var(--05);
    border-radius: var(--border-radius);

    // overflow into the gutter for better horizontal alignment
    width: calc(100% + var(--1));
    margin: 0 calc(-1 * var(--05));
  }

  .ModeSelector fieldset {
    gap: 0 1em;
  }

  .MutableList,
  .PersistentList {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: var(--05);

    .ActionIcon img {
      transition: filter 70ms;
      filter: brightness(1);

      &:hover {
        filter: brightness(1.25);
      }
    }
  }

  .MutableList {
    min-height: calc(2 * var(--action-icon-size) + var(--05));
  }

  .PersistentList {
    column-gap: var(--15);

    .group {
      display: flex;
      flex-direction: column;
      gap: var(--025);

      .name {
        color: var(--text-muted-color);
        font-size: var(--small-font-size);
      }

      .actions {
        display: flex;
        flex-wrap: wrap;
        gap: var(--05);

        button {
          background: none;
          border: 0;
          padding: 0;
          cursor: pointer;

          &.disabled {
            opacity: 0.3;
          }
        }
      }
    }
  }

  .SortableIcon {
    position: relative;
    height: fit-content;
    cursor: grab;
    touch-action: none;

    &[aria-pressed] {
      cursor: grabbing;
    }

    &.disabled {
      opacity: 0.4;
    }

    &.active {
      opacity: 0.25;
    }

    button.remove {
      position: absolute;
      top: 0;
      right: 0;

      width: 1.3em;
      height: 1.3em;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      background: var(--grey-800);
      padding: 0;
      border: 0;
      border-radius: 0 0 0 var(--border-radius);
      cursor: pointer;
      opacity: 0;
      transition: opacity 70ms;
    }

    &:hover:not([aria-pressed]) button.remove {
      opacity: 1;
    }
  }
}
