.BuffList {
  margin-top: calc(-1 * var(--025));
  margin-bottom: var(--025);
  display: flex;
  gap: var(--025);
  min-height: var(--status-icon-height);

  .no-buffs {
    color: var(--text-muted-color);
    font-size: var(--small-font-size);
    margin: auto 0;
  }
}
