.CraftStateDisplay {
  h2 {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    column-gap: 0.5em;

    .step {
      color: var(--text-muted-color);
    }

    .success {
      color: var(--blue-400);
    }

    .failure {
      color: var(--orange-600);
    }
  }

  .bars {
    display: flex;
    flex-direction: column;
    gap: var(--05);
  }
}
