.Header {
  width: 100%;
  padding: 0 var(--05);

  * {
    line-height: 1.15;
  }

  nav {
    width: 100%;
    display: flex;
    align-items: center;
    gap: var(--1);

    a {
      color: var(--text-muted-color);
      display: flex;
      align-items: center;
      transition: color 70ms;

      &:hover {
        color: var(--text-color);
      }

      &:not(:hover) {
        text-decoration: none;
      }

      &:visited:not(:hover) {
        color: var(--text-muted-color);
      }
    }

    &.expanded {
      align-items: flex-end;
      flex-direction: row-reverse;
      flex-wrap: wrap-reverse;
    }

    .logo {
      color: var(--text-color);
      text-align: center;
      font-size: 2rem;
      width: 100%;
      padding: var(--05);

      span {
        color: var(--orange-200);
      }
    }

    .home span {
      width: 0.25em;
    }

    .links {
      color: var(--text-muted-color);
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: var(--05);

      img {
        opacity: 0.4;
        transition: opacity 70ms;

        &:hover {
          opacity: 1;
        }
      }

      .internal {
        display: flex;
        align-items: center;
        gap: var(--05);
      }

      .external {
        display: flex;
        align-items: center;
        gap: var(--05);

        .ko-fi img {
          height: 1.2rem;
        }
        .discord img {
          height: 1.05rem;
        }
        .github img {
          height: 1.35rem;
          margin-left: 0.15rem;
        }
      }
    }
  }
}
