.Header {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;

  h1 {
    margin-top: var(--3);

    span {
      color: var(--orange-200);
    }
  }

  .links {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: var(--1);

    position: absolute;
    top: 0;
    right: 0;

    a {
      line-height: 1;
    }

    img {
      opacity: 0.25;
      transition: opacity 70ms;

      &:hover {
        opacity: 1;
      }
    }

    .github img {
      height: 1.3rem;
      margin-top: -0.15rem;
      padding: 0 0.15rem;
    }

    .discord img {
      height: 1rem;
    }

    .ko-fi img {
      height: 1.2rem;
    }
  }
}
