.Header {
  width: 100%;
  padding: 0 var(--05);

  nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--05) var(--charwidth);

    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      transition: color 70ms;

      &:not(:hover) {
        color: var(--muted-text-color);
      }

      &:hover,
      &:active {
        color: var(--text-color);
      }
    }

    .internal-links {
      display: flex;
      align-items: center;
      gap: var(--05);
      flex-grow: 1;

      .home span {
        width: 0.25em;
        display: inline-block;
      }
    }

    .external-links {
      display: flex;
      align-items: center;
      gap: var(--05);

      img {
        opacity: 0.4;
        transition: opacity 70ms;

        &:hover {
          opacity: 1;
        }
      }

      .ko-fi img {
        height: 1.2rem;
      }
      .discord img {
        height: 1.05rem;
      }
      .github img {
        height: 1.35rem;
        margin-left: 0.15rem;
      }
    }

    @media (max-width: 24em) {
      .Emoji,
      .ko-fi {
        display: none;
      }
    }
  }
}
