.ActionIcon,
.StatusIcon {
  user-select: none;

  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

// these icons are supersampled, so normal transparency is lost
// ...and I'm too lazy to fix them.
// as a hacky workaround, use border-radius and clip-path

.ActionIcon {
  border-radius: 12.5%;
  overflow: hidden;
  position: relative;

  img {
    width: var(--action-icon-size);
    height: var(--action-icon-size);
  }

  .step,
  .cp {
    position: absolute;
    bottom: 0;
    left: 0;

    text-align: center;
    font-size: var(--small-font-size);
    line-height: 1.4;
    height: 1.25em;
    padding: 0 0.25em;
    border-top-right-radius: var(--border-radius);
    // --grey-900, but with alpha transparency
    background: rgba(25, 26, 26, 0.85);
    user-select: none;
    pointer-events: none;
  }

  .cp {
    font-weight: 400;
    color: var(--blue-200);
  }
}

.StatusIcon {
  img {
    height: var(--status-icon-height);
    clip-path: polygon(8% 81%, 9% 20%, 50% 5%, 91% 20%, 92% 81%);
  }

  // ensure numerals in the top right don't get cut off
  // prettier-ignore
  &.with-stacks img {
    clip-path: polygon(8% 81%, 9% 20%, 50% 5%, 65% 12%, 80% 10%, 91% 9%, 93% 20%, 91% 31%, 92% 81%);
  }

  &.with-expiry {
    position: relative;

    .expiry {
      position: absolute;
      width: 100%;
      text-align: center;
      bottom: -1em;
    }
  }
}
