.IngredientConfig {
  display: flex;
  flex-direction: column;
  gap: var(--05);

  .prompt {
    font-size: 1rem;
  }

  .ingredients {
    display: grid;
    grid-template-columns: 1fr repeat(3, min-content);
    gap: var(--05) var(--charwidth);
    align-items: center;

    input {
      width: 2.5em;
    }

    .total {
      text-align: end;
    }
  }
}
