.ModeSelector {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--1);

  fieldset {
    display: flex;
    flex-wrap: wrap;
    gap: 0 var(--charwidth);
    padding: 0;
    margin: 0;
    border: 0;

    > * {
      white-space: nowrap;
    }

    @media (max-width: 26em) {
      .legend {
        width: 100%;
      }
    }

    label:has(+ input) {
      cursor: pointer;
      opacity: 0.5;
      transition: opacity 70ms;

      &:hover {
        opacity: 0.8;
      }
    }

    label:has(+ input:checked) {
      opacity: 1;
    }
  }
}
