.PlayerConfig {
  .jobs {
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    display: grid;
    grid-template-columns: repeat(8, auto);
    gap: 0.5em 1em;

    @media (max-width: 36em) {
      grid-template-columns: repeat(4, auto);
      grid-template-rows: repeat(2, auto);
    }

    .Emoji {
      margin-right: 0.25em;
    }

    label {
      text-align: center;
      padding: var(--05);
      margin: calc(-1 * var(--05));
      cursor: pointer;
      opacity: 0.5;
      transition: opacity 70ms;

      &.specialist {
        text-decoration: underline;
      }

      &:hover {
        opacity: 0.8;
      }
    }

    label:has(+ input:checked) {
      cursor: default;
      opacity: 1;
    }
  }

  .configs {
    display: flex;
    justify-content: space-between;
    gap: var(--1);
    padding: var(--05) 0;

    @media (max-width: 40em) {
      flex-direction: column;
    }

    .stats {
      width: min-content;
      display: grid;
      grid-template-columns: min-content min-content 1fr;
      align-items: center;
      gap: var(--05) var(--charwidth);

      #input-job_level {
        width: 2.5em;
        justify-self: end;
      }

      input:not([type="checkbox"]) {
        width: 4em;
      }

      .bonuses {
        justify-content: flex-start;
        min-width: 6em; // enough space for "+000 +000"
        display: flex;
        gap: var(--05) var(--charwidth);

        .food {
          color: var(--food-color);
        }

        .potion {
          color: var(--potion-color);
        }
      }

      .specialist {
        display: flex;
        align-items: center;
        gap: 0.5em;
      }
    }

    .consumables {
      flex-grow: 1;
      height: fit-content;
      max-width: 28em;

      display: grid;
      gap: var(--05) var(--charwidth);
      grid-template-columns: min-content 1fr;
      align-items: baseline;

      label.food-active {
        color: var(--food-color);
      }

      label.potion-active {
        color: var(--potion-color);
      }

      .selected-consumable,
      .trigger {
        width: 100%;

        // match <input /> styling
        text-align: left;
        color: var(--text-color);
        background-color: var(--grey-800);
        padding: var(--025) var(--05);
        border: none;
        border-radius: var(--border-radius);
      }

      .selected-consumable {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        gap: var(--05);

        button.reset {
          background: none;
          height: 100%;
          padding: 0 var(--05);
          margin: calc(-1 * var(--05));
          opacity: 0.6;
          transition: opacity 70ms;

          &:hover {
            opacity: 1;
          }
        }
      }

      .dropdown-list {
        width: 100%;
      }

      ul {
        max-width: 100%;
        max-height: 20em;
      }

      li {
        .details {
          color: var(--muted-text-color);
        }
      }
    }
  }

  .prompts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--05);
  }
}
