.RecipeDisplay {
  display: flex;
  flex-wrap: wrap;
  gap: 0 1.5em;

  .name {
    grid-column: 1 / -1;
    width: 100%;

    button {
      line-height: 1.5;
      text-align: left;
    }
  }

  .info {
    color: var(--text-muted-color);
  }

  @media (max-width: 30em) {
    .rlvl,
    .elvl,
    .ilvl {
      display: none;
    }
  }
}
