.RecipeDisplay {
  color: var(--muted-text-color);
  display: flex;
  flex-wrap: wrap;
  gap: var(--05) calc(2 * var(--charwidth));

  .name {
    color: var(--text-color);
    grid-column: 1 / -1;
    width: 100%;

    button {
      text-align: left;
    }
  }

  @media (max-width: 30em) {
    .rlvl,
    .elvl,
    .ilvl {
      display: none;
    }
  }
}
