.RecipeConfig {
  align-items: flex-start;

  .field {
    width: 100%;
  }

  .dropdown-list {
    width: 100%;

    ul {
      width: 100%;
      max-height: 16em;
    }

    .subtext {
      color: var(--muted-text-color);
    }

    .job-swap-prompt {
      color: var(--orange-300);
      margin-left: auto;
    }
  }

  .RecipesByName input {
    width: 100%;
  }

  .RecipesByLevel input {
    width: 2.5em;
  }

  .prompt {
    color: var(--muted-text-color);
    display: flex;
    column-gap: 0.5em;
  }
}
