.RotationMiniDisplay {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--05) var(--charwidth);

  .food {
    color: var(--food-color);
  }

  .potion {
    color: var(--potion-color);
  }

  .header {
    width: 100%;
    display: flex;
    align-items: baseline;
    gap: 0 0.5em;

    a {
      flex-shrink: 1;
      color: var(--text-color);
    }

    .rlvl {
      flex-shrink: 0;
      color: var(--muted-text-color);
      font-size: 1rem;
    }
  }

  .level {
    color: var(--muted-text-color);
  }

  .consumables {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1em;
    align-items: baseline;

    color: var(--muted-text-color);
    max-width: 100%;
  }

  .bars {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: var(--05) var(--1);
    justify-content: flex-start;
    flex-shrink: 1;
  }

  .actions {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--05);

    .ActionIcon img {
      width: 2.5rem;
      height: 2.5rem;
    }

    .action.disabled {
      opacity: 0.3;
    }
  }

  .controls {
    width: 100%;
    padding-top: 0.25em;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em calc(2 * var(--charwidth));
    align-items: baseline;
  }
}
