.RotationDisplay {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--1);

  .info {
    h2 {
      color: var(--muted-text-color);
      margin-bottom: calc(-1 * var(--1));

      span {
        font-size: 1rem;
        color: var(--grey-400);
        font-weight: 400;
      }

      @media (max-width: 28em) {
        span {
          display: none;
        }
      }
    }

    .player {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: var(--05) var(--charwidth);

      @media (max-width: 40em) {
        flex-direction: column;
      }
    }

    .player .stats {
      color: var(--muted-text-color);
      display: grid;
      grid-template-columns: min-content min-content 1fr;
      gap: var(--05) var(--charwidth);

      .stat {
        color: var(--text-color);
        justify-self: end;
      }

      .bonuses {
        display: flex;
        gap: var(--05) var(--charwidth);
        min-width: 6em;

        .food {
          color: var(--food-color);
        }

        .potion {
          color: var(--potion-color);
        }
      }
    }

    .player .consumables {
      flex-shrink: 1;
      display: grid;
      grid-template-columns: min-content 1fr;
      gap: var(--05) var(--charwidth);

      label {
        color: var(--muted-text-color);
      }

      .food-active {
        color: var(--food-color);
      }

      .potion-active {
        color: var(--potion-color);
      }
    }

    .ingredients {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: var(--05);

      label {
        color: var(--muted-text-color);
      }

      .ingredient {
        .x {
          color: var(--muted-text-color);
        }
      }
    }

    .delineations {
      color: var(--muted-text-color);

      span {
        color: var(--text-color);
      }
    }

    .controls {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5em calc(2 * var(--charwidth));
    }
  }

  .bars {
    display: flex;
    flex-direction: column;
    gap: var(--05);
    padding-bottom: var(--05);
  }

  .rotation {
    display: flex;
    flex-wrap: wrap;
    gap: var(--05);

    .action.disabled {
      opacity: 0.3;
    }
  }
}
