.RotationControls {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75em 1.5em;
  color: var(--text-muted-color);
  font-size: var(--small-font-size);
  min-height: 1.15em;

  * {
    // match button line height
    line-height: 1.15;
    white-space: nowrap;
  }

  .CopyButton.content {
    background: var(--grey-900);
    outline: 1px solid var(--grey-700);
  }
}
