.SearchPanel {
  display: flex;
  flex-direction: column;
  gap: var(--1);
  align-items: start;

  .search {
    font-weight: 500;
    color: var(--grey-900);
    background-color: var(--orange-050);

    &:focus {
      outline: 2px solid var(--orange-400);
    }
  }

  .link,
  .config {
    font-size: var(--small-font-size);
  }

  .config {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: var(--1);

    @media (max-width: 24em) {
      .field {
        flex-direction: column;
        label {
          line-height: 1.15;
        }
      }
    }

    label {
      text-decoration: dashed underline;
      text-decoration-color: var(--grey-400);
    }

    .tooltip {
      max-width: 32em;
    }

    .max-steps input {
      width: 2.5em;
    }

    .iterations input {
      width: 6.25em;
    }

    .max-score input {
      width: 4.5em;
    }

    .exploration input {
      width: 4.5em;
    }
  }
}
