.Select {
  button {
    // match <input /> styling
    color: var(--text-color);
    background-color: var(--grey-800);
    padding: var(--025) var(--05);
    border: none;
    border-radius: var(--border-radius);

    &:focus {
      outline: 1px solid var(--focus-color);
    }

    &.placeholder {
      color: var(--placeholder-color);
    }
  }

  li {
    white-space: nowrap;
  }
}
