.Select {
  position: relative;

  .trigger {
    // match <input /> styling
    text-align: left;
    color: var(--text-color);
    background-color: var(--grey-800);
    padding: var(--025) var(--05);
    padding-right: 2em;
    border: none;
    border-radius: var(--border-radius);

    &:focus {
      outline: 1px solid var(--focus-color);
    }

    &.placeholder {
      color: var(--placeholder-color);
    }
  }

  .reset {
    align-self: center;
    padding: var(--025);
    position: absolute;
    right: 0;
    opacity: 0;
    transition: opacity 70ms;
  }

  &:hover button.reset {
    opacity: 1;
  }

  li {
    white-space: nowrap;
  }
}
