@import "normalize.css";
@import "variables.css";

@import "@fontsource/fira-mono/latin-400.css";
@import "@fontsource/fira-mono/latin-500.css";
@import "@fontsource/fira-mono/latin-700.css";

:root {
  min-height: 100vh;

  font-family: "Fira Mono", monospace;
  font-weight: normal;
  color-scheme: light dark;
  color: var(--orange-050);
  background-color: var(--grey-900);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  justify-content: center;
}

input {
  padding: var(--025) var(--05);
}

input[type="number"] {
  appearance: textfield;
  text-align: right;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
  -webkit-appearance: none;
}

h1 {
  font-weight: normal;
  font-size: 2rem;
}

section {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: calc(-1 * var(--15));
    height: 100%;
    width: var(--05);
    border-radius: 2px;
    background-color: var(--grey-800);
    opacity: 0.6;
    transition: background-color 70ms;
  }

  &:focus-within::before {
    background-color: var(--orange-200);
  }
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  word-wrap: normal;
  white-space: nowrap;
}

.field {
  display: flex;
  align-items: baseline;
  gap: var(--05);
}

.combobox {
  position: relative;

  ul {
    position: absolute;
    width: 100%;
    color: var(--orange-050);
    background: var(--grey-800);
    font-size: 85%;
    border-radius: 2px;

    list-style: none;
    padding: 0;
    margin: 0;
    user-select: none;
  }

  li {
    cursor: pointer;
    padding: var(--025) var(--05);
    margin: 0;

    &.selected,
    &:hover {
      background: var(--grey-600);
    }
  }

  .highlight {
    font-weight: bold;
  }
}

.App {
  width: 100%;
  max-width: 600px;
  padding: var(--15);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--3);

  h1 {
    margin-top: var(--4);
    margin-bottom: 0;

    span {
      color: var(--orange-200);
    }
  }
}

.Emoji {
  img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 0.25em;
    vertical-align: -0.125em;
  }
}

.PlayerConfig {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--05);
  padding: var(--05) 0;

  fieldset {
    padding: 0;
    margin: 0;
    border: none;
    display: grid;
    grid-template-columns: repeat(8, auto);
    column-gap: 1rem;

    @media (max-width: 40rem) {
      grid-template-columns: repeat(4, auto);
      grid-template-rows: repeat(2, auto);
    }

    label {
      text-align: center;
      padding: var(--05) 0;
      cursor: pointer;
      opacity: 0.6;
      transition: opacity 70ms;
    }

    input:checked + label {
      opacity: 1;
    }
  }

  .stats {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    justify-items: flex-end;
    column-gap: var(--2);
    row-gap: var(--05);
    padding: var(--05) 0;

    .field {
      &:first-child {
        grid-row: 1 / -1;
      }
    }

    #input-job_level {
      width: 2.5em;
    }

    #input-craftsmanship,
    #input-control,
    #input-cp {
      width: 4em;
    }
  }
}

.RecipeConfig {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--05) 0;

  .field,
  .combobox,
  input {
    width: 100%;
  }

  .field {
    padding: var(--05);
  }
}
