@import "normalize.css";
@import "variables.css";

@import "@fontsource/fira-mono/latin-400.css";
@import "@fontsource/fira-mono/latin-500.css";
@import "@fontsource/fira-mono/latin-700.css";

* {
  line-height: 1.4;
  text-underline-offset: 5px;
}

:root {
  min-height: 100vh;

  font-family: "Fira Mono", monospace;
  font-weight: 400;
  color-scheme: dark;
  color: var(--text-color);
  background-color: var(--grey-900);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  justify-content: center;

  min-height: 100vh;
}

h1,
h2,
h3 {
  font-weight: 400;
  margin: 0;
}

h1 {
  font-size: 1.75rem;

  @media (max-width: 30em) {
    font-size: 1.25rem;
  }
}

h2 {
  font-size: 1.25rem;
  font-weight: 500;
}

a {
  &:hover {
    color: var(--link-hover-color);
  }
}

a,
button.link {
  &:focus {
    outline: 1px solid var(--focus-color);
    outline-offset: 3px;
  }
}

button,
input,
label:has(+ input[type="checkbox"]) {
  &:focus {
    outline: 1px solid var(--focus-color);
  }
}

button {
  cursor: pointer;
  font-weight: 500;
  color: var(--text-color);
  padding: var(--025) var(--1);
  border: none;
  border-radius: var(--border-radius);

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }

  &.link {
    font-weight: 400;
    color: var(--muted-text-color);
    background: none;
    text-align: start;
    text-decoration: underline;
    padding: 0;
    margin: 0;
    border-radius: 0;

    &:hover {
      color: var(--link-hover-color);
    }
  }

  &.text {
    font-size: inherit;
    font-weight: inherit;
    text-align: inherit;
    color: inherit;
    background: none;
    padding: 0;
    outline: 0;
    margin: 0;
  }

  &.ghost {
    background: none;
    padding: var(--025) var(--05);
    margin: 0;

    &:hover,
    &[aria-expanded="true"] {
      background: var(--grey-800);
    }

    &:active {
      background: var(--grey-700);
    }
  }
}

input {
  color: var(--text-color);
  background-color: var(--grey-800);
  padding: var(--025) var(--05);
  border: none;
  border-radius: var(--border-radius);

  &::placeholder {
    color: var(--placeholder-color);
    opacity: 1;
  }

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }

  &[inputmode="numeric"] {
    appearance: textfield;
    text-align: right;
  }

  &[type="checkbox"] {
    height: 1.25em;
    width: 1.25em;
  }
}

section {
  width: 100%;
  padding: var(--1) var(--05);
  display: flex;
  flex-direction: column;
  gap: var(--1);
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: calc(-1 * var(--15));
    height: 100%;
    width: var(--025);
    border-radius: var(--border-radius);
    background-color: var(--grey-800);
    transition: background-color 140ms ease-in-out;
  }

  &:hover::before {
    background-color: var(--orange-200);
  }
}

p {
  margin: 0;
}

details {
  summary {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: fit-content;
    padding: var(--025) var(--05);
    margin: 0 calc(-1 * var(--05));
    border-radius: var(--border-radius);

    &::marker {
      content: none;
    }

    &::before {
      content: "";
      display: inline-block;
      border: 0.25em solid transparent;
      border-right-width: 0;
      border-left: var(--charwidth) solid var(--text-color);
      margin-right: 0.61em;
      transition: transform 70ms;
    }

    &:hover {
      background: var(--grey-800);
    }

    &:active {
      background: var(--grey-700);
    }
  }

  &[open] {
    padding-bottom: var(--05);

    summary {
      background: var(--grey-800);
      margin-bottom: var(--05);

      &::before {
        transform: rotate(90deg);
      }
    }
  }
}

footer {
  text-align: right;
  color: var(--muted-text-color);
  font-size: var(--small-font-size);
  opacity: 0.3;

  width: 100%;
  padding: var(--05);
  margin-top: auto;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  word-wrap: normal;
  white-space: nowrap;
}

.field {
  display: flex;
  align-items: baseline;
  gap: var(--charwidth);
}

.nowrap {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.dropdown-list {
  position: relative;

  ul {
    position: absolute;

    overflow-y: scroll;

    color: var(--text-color);
    background: var(--grey-800);
    border-radius: var(--border-radius);
    padding: 0;
    margin: var(--025) 0;

    list-style: none;
    user-select: none;
    z-index: 1;
  }

  li {
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;

    font-size: var(--small-font-size);
    padding: var(--025) var(--05);

    &[aria-selected="true"],
    &:hover {
      background: var(--grey-700);
    }

    & > *:first-child {
      width: 100%;
    }
  }
}

[data-radix-popper-content-wrapper] {
  // not ideal, but radix inlines "z-index: auto"
  z-index: 1 !important;
}

.tooltip {
  font-size: var(--small-font-size);
  background: var(--grey-900);
  padding: 1rem 1rem;
  border: 1px solid var(--grey-700);
  border-radius: var(--border-radius);
  margin: 0 0 0.5rem -1rem;

  display: flex;
  flex-direction: column;
  gap: var(--05);
}
