:root {
  /* rem-equivalent dimensions */
  --025: 4px;
  --05: 8px;
  --1: 16px;
  --15: 24px;
  --2: 32px;
  --3: 48px;
  --4: 64px;

  --text-color: var(--orange-050);
  --text-muted-color: var(--grey-300);
  --placeholder-color: var(--grey-500);
  --focus-color: var(--orange-400);
  --link-hover-color: var(--blue-300);
  --food-color: var(--orange-200);
  --potion-color: var(--blue-200);

  --small-font-size: 0.9rem;

  --border-radius: 2px;

  --action-icon-size: 3em;
  --status-icon-height: 2.5em;

  --grey-050: hsl(180, 13%, 97%);
  --grey-100: hsl(180, 12%, 88%);
  --grey-200: hsl(180, 10%, 79%);
  --grey-300: hsl(180, 9%, 69%);
  --grey-400: hsl(185, 9%, 58%);
  --grey-500: hsl(190, 9%, 43%);
  --grey-600: hsl(201, 7%, 35%);
  --grey-700: hsl(202, 6%, 27%);
  --grey-800: hsl(206, 4%, 21%);
  --grey-900: hsl(180, 2%, 10%);

  --orange-050: hsl(24, 100%, 93%);
  --orange-100: hsl(22, 100%, 85%);
  --orange-200: hsl(20, 100%, 77%);
  --orange-300: hsl(18, 100%, 70%);
  --orange-400: hsl(16, 94%, 61%);
  --orange-500: hsl(14, 89%, 55%);
  --orange-600: hsl(12, 86%, 47%);
  --orange-700: hsl(10, 93%, 40%);
  --orange-800: hsl(8, 92%, 35%);
  --orange-900: hsl(6, 96%, 26%);

  --blue-050: hsl(202, 100%, 95%);
  --blue-100: hsl(204, 100%, 86%);
  --blue-200: hsl(206, 93%, 73%);
  --blue-300: hsl(208, 88%, 62%);
  --blue-400: hsl(210, 83%, 53%);
  --blue-500: hsl(212, 92%, 43%);
  --blue-600: hsl(214, 95%, 36%);
  --blue-700: hsl(215, 96%, 32%);
  --blue-800: hsl(216, 98%, 25%);
  --blue-900: hsl(218, 100%, 17%);

  --yellow-050: #fffaeb;
  --yellow-100: #fcefc7;
  --yellow-200: #f8e3a3;
  --yellow-300: #f9da8b;
  --yellow-400: #f7d070;
  --yellow-500: #e9b949;
  --yellow-600: #c99a2e;
  --yellow-700: #a27c1a;
  --yellow-800: #7c5e10;
  --yellow-900: #513c06;
}
